<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Created by bantesh.This is about to telling your weather using mapbox and darksky.</p>
        <img class="portrait" src='/img/images.jpeg'>
    </div>
    {{>footer}}
</body>

</html>